<!-- Formulaire -->
<form *ngIf="site" (ngSubmit)="onSubmit()" #siteForm="ngForm">
  <!-- Premiere ligne -->
  <div class="row">
    <!-- Card -->
    <div class="card-panel">
      <!-- Nom -->
      <div class="form-group">
        <label for="name">Nom</label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          pattern="^[a-zA-Z0-9àéèç]{1,25}$"
          [(ngModel)]="site.name"
          name="name"
          #name="ngModel"
        />

        <div [hidden]="name.valid || name.pristine" class="card-panel red">
          Le nom du site est requis (1-25).
        </div>
      </div>

      <!-- Description -->
      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="number"
          class="form-control"
          id="description"
          required
          pattern="^[a-zA-Z0-9àéèç]{1,25}$"
          [(ngModel)]="site.description"
          name="Description"
          #description="ngModel"
        />
        <div
          [hidden]="description.valid || description.pristine"
          class="card-panel red"
        >
          La description du site est requise (1-255).
        </div>
      </div>

      <!-- Lien -->
      <div class="form-group">
        <label for="link">Lien</label>
        <input
          type="number"
          class="form-control"
          id="link"
          required
          pattern="^[a-zA-Z0-9àéèç]{1,25}$"
          [(ngModel)]="site.link"
          name="Lien"
          #link="ngModel"
        />
        <div [hidden]="link.valid || link.pristine" class="card-panel red">
          Le lien du site est requis (1-255)
        </div>
      </div>

      <!-- Types -->
      <form class="form-group">
        <label for="types">Types</label>
        <p *ngFor="let type of types">
          <label>
            <input
              type="checkbox"
              class="filled-in"
              id="{{ type }}"
              [value]="type"
              [checked]="hasType(type)"
              [disabled]="!isTypesValid(type)"
              (change)="selectType($event, type)"
            />
            <span [attr.for]="type">
              <div class="{{ type | siteTypeColor }}">
                {{ type }}
              </div>
            </span>
          </label>
        </p>
      </form>

      <!-- Submit button -->
      <div class="divider"></div>
      <div class="button-section">
        <button type="submit" [disabled]="!siteForm.form.valid">
          Valider
        </button>
      </div>
    </div>
  </div>
</form>
<h3 *ngIf="!site" class="center">Aucun site à éditer...</h3>
