<h1>Liste des sites</h1>

<div class="container">
  <!-- Les sites -->
  <div
    class="site-item"
    *ngFor="let site of sites"
    (click)="selectSite(site)"
    [stBorderCard]="site.borderColor"
  >
    <!-- Image -->
    <div class="card-image">
      <img [src]="site.image" />
    </div>
    <!-- Contenu -->
    <div class="card-stacked">
      <div class="card-content">
        <h2>{{ site.name }}</h2>
        <p>
          <small> {{ site.created | date: "dd/MM/yyyy" }}</small>
        </p>
        <span
          *ngFor="let type of site.types"
          class="{{ type | siteTypeColor }}"
        >
          {{ type }}
        </span>
      </div>
    </div>
  </div>
</div>
